.header {
  background-image: url("https://img.freepik.com/free-vector/winter-background-with-pastel-color-brushes-leaves_220290-42.jpg?size=626&ext=jpg&ga=GA1.2.1910972017.1629158400");
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.header-title{
  color: #084F54;
  background-color: #95b1b35e;
  padding: 10px;
}
